{% load humanize %}
{% load custom_filters %}
{% for property in properties %}
  <div class="property-item">
    <div class="property-image" style="background-image: url({{ property.images.first.image_url }})">
      <div class="property-type">{{ property.type }}</div>
    </div>
    <div class="property-info">
      <h3>{{ property.address }}</h3>
      <div class="zip-city">{{ property.zip }} {{ property.city }}</div>
    </div>
    <div class="line"></div>
    <div class="property-details">
      <div class="property-detail">📐 {{ property.size }} m²</div>
      <div class="property-detail">🛏 {{ property.rooms|floatformat:0 }}</div>
      <div class="property-detail">🛁 {{ property.bathrooms|floatformat:0 }}</div>
      <div class="property-detail">🛌 {{ property.bedrooms|floatformat:0 }}</div>
    </div>
    <div class="property-price">
      <div>{{ property.price|floatformat:0|intcomma|replace_comma }} kr.</div>
      <a href="{% url 'property-by-id' id=property.id %}">See more</a>
    </div>
  </div>
{% endfor %}
