
{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/property-detail.css' %}">
{% endblock %}
{% block content %}
<div class="property-container-det">

  <div class="property-header">
      <div id="propertyCarousel" class="carousel slide">
  <div class="carousel-inner">
      {% for img in property.images.all %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ img.image_url }}" class="d-block w-100" alt="Property Image">
          </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
      </div>
  </div>
    <div class="property-info-det">
    <div class="property-type-det">{{ property.type }}</div>
        <h2>{{ property.address }}</h2>
    <div class="property-address-det">{{ property.zip }} {{ property.city }}</div>

    <div class="property-details-det">
      <div class="property-detail-det">📐 {{ property.size }} m²</div>
      <div class="property-detail-det">🚪 {{ property.rooms }}</div>
      <div class="property-detail-det">🛁 {{ property.bathrooms }}</div>
      <div class="property-detail-det">🛏 {{ property.bedrooms }}</div>
    </div>

    <div class="property-description">{{ property.description }}</div>
    <div class="property-date">📅 {{ property.date }}</div>
    <div class="property-price-det">{{ property.price }} kr.</div>

    <a href="javascript:history.back()" class="go-back">← Go Back</a>
  </div>

  <div class="offer-section">
    <form>
      <label for="offer">Make a purchase offer:</label>
      <input type="text" id="offer" name="offer">

      <label for="expiration">Expiration date:</label>
      <input type="date" id="expiration" name="expiration">

      <button type="submit" class="submit-button">Submit</button>
    </form>
    <img src="remax-logo.png" alt="Remax Logo" class="seller-logo">
  </div>

</div>
<div class="image-thumbnail-gallery mt-4">
  {% for img in property.images.all %}
    <img src="{{ img.image_url }}" class="thumb-img" alt="Thumbnail">
  {% endfor %}
</div>
{% endblock %}
