
.custom-navbar {
  background-color: #ffc2f6;
    border: solid black 1px;
}

.custom-navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}

.custom-navbar .nav-link {
  color: #000;
  margin-left: 1rem;
  font-size: 0.9rem;
  line-height: 1.1;
  text-align: center;      /* ✅ Miðjar bæði línur */
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
  font-weight: bold;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid .5px darkgray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-navbar .navbar-nav {
  display: flex;
  align-items: center; /* ✅ Miðjar alla takka lóðrétt */
}

body {
  overflow-x: hidden;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}









