
.custom-navbar {
  background-color: #ffc2f6;
    border: solid black 1px;
}

.custom-navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}

.custom-navbar .nav-link {
  color: #000;
  margin-left: 1rem; /* NOT 30rem */
  font-size: 1.1rem;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
  font-weight: bold;
}








