{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Step 4: Review & Confirm</h2>

    <h5 class="mt-4">Contact Information</h5>
    <ul>
        <li><strong>Name:</strong> {{ contact.full_name }}</li>
        <li><strong>Kennitala:</strong> {{ contact.national_id }}</li>
        <li><strong>Street:</strong> {{ contact.street }}</li>
        <li><strong>City:</strong> {{ contact.city }}</li>
        <li><strong>Postal Code:</strong> {{ contact.postal_code }}</li>
        <li><strong>Country:</strong> {{ contact.country }}</li>
    </ul>

    <h5 class="mt-4">Payment Method</h5>
    <p>{{ payment_method.payment_method|cut:"_"|title }}</p>

    <h5 class="mt-4">Payment Details</h5>
    <ul>
        {% for key, value in payment_details.items %}
            <li><strong>{{ method|cut:"_"|title }}:</strong> {{ value }}</li>
        {% endfor %}
    </ul>

    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <a href="{% url 'finalization:step3_payment_details' offer_id  %}" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-success">Confirm Purchase</button>
        </div>
    </form>
</div>
{% endblock %}
